@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Az oldal "kiresetelése", alapból minden az oldal szélén lesz padding, illetve margin nélkül*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

input[type=text]{
    background-image: url();
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    transition: background-color 0.3s ease, color 0.3s ease, grid-template-columns 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    z-index: 1;
}

nav.search-active {
    box-shadow: none !important;
}

nav .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-icons .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.nav-icons .material-symbols-outlined:hover {
    width: 50px;
    cursor: pointer;
}

.link-size {
    width: 50px;
    height: 50px;
}

.main {
    grid-area: main;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    transition: background-color 0.3s ease, margin-top 0.3s ease;
    height: 100%;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 840px minmax(240px, auto);
    min-height: 100vh;
}

.posts {
    grid-row: 1/6;
    grid-column: 1/2;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow: hidden;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.userFeed  {
    grid-row: 1/6;
    grid-column: 2/3;
    transition: background-color 0.3s ease;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.postInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: 65px;
}

.postPicture {
    border-radius: 100%;
    overflow: hidden; /* A divből való "kifolyás" letiltása */
    width: 65px; 
    height: 65px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url('../../imgs/jonkler.webp');
}

.searchBar {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
}

.searchBar button {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.input {
    font-size: 17px;
    border: none;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    padding: 8px;
    box-sizing: border-box;
    width: calc(100% - 50px);
}

.button {
    border: none;
    text-decoration: none;
    padding: 8px 15px; /* Adjust padding for better spacing */
    font-size: 17px;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
    box-sizing: border-box; /* Include padding in the element's total width */
    width: 50px; /* Fixed width for the button */
}

.progressBar {
    width: 100%; 
    height: 27px; 
    background-color: rgb(65, 65, 65); 
    border-radius: 50px; 
    margin-bottom: 20px; 
    padding: 5px;
}

.userProgress {
    width: 20%; 
    height: 100%; 
    background-color: rgb(145, 145, 145); 
    border-radius: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white;
}

.userFeed .header {
    margin-left: auto; 
    margin-right: auto; 
    font-size: 20px; 
    text-align: center;
    margin-bottom: 20px;
}

.profileInformation {
    display: grid;
    grid-template-columns: 840px minmax(290px, auto);
    background-color: rgb(226, 226, 226);
    height: 100%;
}

.userFeed {
    grid-column: 2/3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.userFeed hr {
    all: unset; 
    width: calc(100% + 40px); 
    height: 1px; 
    margin: 20px -20px;
    background-color: rgba(0, 0, 0, 0.05);
}

.rightSideDiv hr {
    all: unset; 
    width: calc(100% + 40px); 
    height: 1px; 
    margin: 20px -20px;
}

.postText {
    margin: 15px 0;
    line-height: 1.5;
    font-size: 0.95em;
}

.comments-toggle {
  all: unset;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

::placeholder {
    color: black;
}

.backgroundImage {
    z-index: 1;
    grid-row: 1/3;
    grid-column: 1/9;
    background-color: rgb(128, 128, 128);
}
  
.leftInformation {
    grid-row: 3/4;
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10px;
}

.rightInformation {
    grid-row: 3/4;
    grid-column: 6/9;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10px;
}

.middleInformation {
    grid-row: 4/5;
    grid-column: 4/6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.recommendedUser {
    display: flex; 
    flex-direction: row;
    gap: 5px; 
    align-items: center; 
    width: 100%;
}

.recommendationDivs {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    gap: 10px;
}

.userProfilePicture {
    background-image: url('../imgs/jonkler.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    overflow: hidden;
}

.userFeed .header {
    margin-left: auto; 
    margin-right: auto; 
    font-size: 20px; 
    text-align: center;
    margin-bottom: 20px;
}

.recommendedUsers span {
    font-size: 15px;
}

.Head {
    display: flex;
    align-items: center;
    gap: 5px;
}

.postData {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2px; 
    flex-grow: 1;
}

.postData .username {
    font-size: 15px;
}

.leftInformation img {
    width: 45px; 
    height: 45px;
}

.rightInformation img {
    height: 45px;
    width: 45px;
}

.informationCenter {
    display: flex;
    align-items: center;
    gap: 3px;
}

.middleInformation #birthName {
    font-size: 22px;
}

.userProfile hr {
    border: none;
    background-color: rgba(0, 0, 0, 0.05); 
    height: 1px; 
    width: 100%; 
    margin-top: auto; 
    margin-bottom: auto; 
    grid-row: 4/5; 
    grid-column: 1/9; 
    transform: translateY(20px);
}

.postInformation {
    margin-top: 15px; 
    text-align: justify; 
    display: flex; 
    flex-wrap: nowrap; 
    flex-direction: row; 
    gap: 10px;
}

.likeInformation {
    display: flex; 
    align-items: center; 
    margin-left: auto;
    gap: 5px;
}

.postInformation button {
    border: 0;
    background-color: rgb(192, 192, 192);
    padding: 7px;
    border-radius: 15px;
}

.commentInformation {
    display: flex; 
    align-items: center; 
    gap: 5px;
}

.commentInformation img {
    width: 25px;
    height: 25px;
}

.middleInformation #birthName {
    font-size: 22px;
}

.feedDiv {
    display: flex; 
    padding: 10px; 
    border-radius: 5px; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1); 
    gap: 10px;
  }
  
  .feedDiv button {
    border: none;
    padding: 7px;
    width: 25%;
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 14px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: auto;
  }
  
  .userFeed .user {
    display: flex; 
    gap: 5px; 
    align-items: center; 
    width: 100%;
  }

a {
    text-decoration: none;
    color: #666;
}

.userFeed .user {
    display: flex; 
    gap: 5px; 
    align-items: center; 
    width: 100%;
}

.feedPicture {
    background-image: url('../../imgs/jonkler.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}

.recentHeader {
    margin-top: 20px;
}

.recommendedUsers {
    display: flex; 
    align-items: center; 
    background-color: rgb(211, 211, 211); 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    gap: 10px
}

a {
    text-decoration: none;
    font-style: none;
    color: #666;
}

.input:focus {
    outline: none;
}

.recentSpan {
    margin-top: 20px;
}

/* From Uiverse.io by Tsiangana */ 
.ui-bookmark {
    --icon-size: 24px;
    --icon-hover-color: rgb(110, 110, 110);
    --icon-primary-color: rgb(241, 115, 0);
    --icon-circle-border: 1px solid var(--icon-primary-color);
    --icon-circle-size: 35px;
    --icon-anmt-duration: 0.3s;
}

.ui-bookmark input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.ui-bookmark .bookmark {
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

.bookmark::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
    box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    padding: 1px;
}

.bookmark::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: var(--icon-circle-border);
    opacity: 0;
}
  
.ui-bookmark:hover .bookmark {
    fill: var(--icon-hover-color);
}
  
.ui-bookmark input:checked + .bookmark::after {
    -webkit-animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
}
  
.ui-bookmark input:checked + .bookmark {
    fill: var(--icon-primary-color);
    -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
    animation: bookmark var(--icon-anmt-duration) forwards;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
  
.ui-bookmark input:checked + .bookmark::before {
    -webkit-animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
}
  
@-webkit-keyframes bookmark {
    50% {
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
  
@keyframes bookmark {
    50% {
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
  
@-webkit-keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
  
@keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
  
@-webkit-keyframes circles {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}
  
@keyframes circles {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

#SearchDiv {
    display: none;
    position: relative;
    width: 100%;
    padding: 10px;
    box-shadow: 0 10px 15px 0 15px rgba(0, 0, 0, 0.1) !important;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  #SearchDiv.active {
      display: flex;
  }
  
  @media screen and (max-width: 1160px) {
  
    .main {
      padding-top: 15px;
      height: 100%;
    }
  
    .main-container {
      display: grid;
      grid-template-columns: auto;
      width: 100%;
      padding: 15px;
      max-width: 736px;
    }
  
    .profileInformation {
      display: grid;
      grid-template-columns: auto;
      height: 100%;
      width: 90%;
    }
  
    .leftInformation {
      display: none;
    }
  
    .rightInformation {
      display: none;
    }
    .userProfile {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      justify-content: center;
    }
    .backgroundImage {
      width: 100%;
      height: 130px;
      max-width: 736px;
    }
    .Post {
      display: none;
    }
    .userStatistics {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .segitseg {
      width: 100%;
      padding: 0px;
    }
    .profilePicture {
      display: none;
    }
    .insideProfilePicture {
      background-image: url('../../imgs/jonkler.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 130px;
      height: 130px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(50%);
      border-radius: 50%;
      border: 5px solid rgb(226, 226, 226);
    }
    .backgroundImage {
      margin-bottom: 50px;
    }
    #largeScreenHr {
      display: none;
    }
    #smallScreenHr {
      border: none;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(0, 0, 0, 0.05);
      height: 1px;
      max-width: 736px;
    }
    #navSpan {
      display: none;
    }
  
    nav {
      width: 100%;
      box-shadow: none;
    }
  
    nav .nav-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
  
    .userFeed {
      display: none !important;
      visibility: hidden !important;
      padding: 0 !important;
    }
  
    .Post {
      padding: 20px;
      box-shadow: none;
    }
  
    .userPostInfo {
      gap: 5px;
    }
  
    .postText {
      text-align: justify;
    }
  
    .SearchDiv {
      display: none;
      justify-content: center;
      padding: 5px;
      z-index: 2;
    }
  
    .SearchDiv.active {
      display: none;
    }
  
    ::placeholder {
      color: black;
    }
  
    .navSearchBar {
      display: flex;
      justify-content: center;
      height: 35px;
      width: 300px; /* Ensure it takes the full width of its container */
      box-sizing: border-box; /* Include padding and border in the element's total width */
    }
    
    .navSearchBar .input {
      font-size: 17px;
      color: black;
      border: none;
      border-top-left-radius: .5em;
      border-bottom-left-radius: .5em;
      padding: 8px; /* Add padding for better spacing */
      box-sizing: border-box; /* Include padding in the element's total width */
      width: calc(100% - 50px); /* Adjust width to account for the button */
    }
    
    .navSearchBar .button {
      border: none;
      text-decoration: none;
      padding: 8px 15px; /* Adjust padding for better spacing */
      font-size: 17px;
      border-top-right-radius: .5em;
      border-bottom-right-radius: .5em;
      cursor: pointer;
      box-sizing: border-box; /* Include padding in the element's total width */
      width: 50px; /* Fixed width for the button */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    a {
      text-decoration: none;
      color: #666;
    }
  
    .userStatistics {
      gap: 5px;
    }
    .posts {
        background-color: transparent;
        padding: 0;
    }

    .mobileFeed {
        display: flex !important; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
            margin-bottom: 20px;
        padding: 20px;
    }

    .mobileFeed .user {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    
    .mobileFeed .feedDiv {
        margin-top: 10px;
        width: 90%;
        max-width: 367px;
    }

  }
  
  @media screen and (max-width: 1160px) {
    .searchIcon {
        display: block;
    }
  }
  
  @media screen and (min-width: 1161px) {
    .searchIcon {
        display: none;
    }
    #SearchDiv {
      display: none;
      visibility: collapse;
      margin: 0;
      padding: 0;
    }
    .navSearchBar {
      display: none;
    }
    .middleInformation {
      display: none;
    }
    .insideProfilePicture {
      display: none;
    }
    #smallScreenHr {
      display: none;
    }
    #navSpan {
        display: block;
    }
    .mobileFeed {
        display: none;
    }
  }