@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.topLgMargin {
    margin-top: 20px;
}

.bottomLgMargin {
    margin-bottom: 20px;
}

.mdFontSize {
    font-size: 15px;
}